<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

 <body id="reportsPage">
    <div class="" id="home">
        <div class="container">
            <%- include('layouts/menu'); -%>
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                    <div class="bg-white tm-block h-100">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <h2 class="tm-block-title d-inline-block">Daily Training Info</h2>
                            </div>
                            <div class="col-md-4 col-sm-12 text-right">
                                <h2 class="tm-block-title d-inline-block">Today: <%= helpers.formatDate(Date()) %></h2>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped tm-table-striped-even mt-3">
                                <thead>
                                    <tr class="tm-bg-gray">
                                        <th scope="col" class="text-center">Date</th>
                                        <th scope="col" class="text-center">Time</th>
                                        <th scope="col" class="text-center">Dist, km</th>
                                        <th scope="col" class="text-center">Pace</th>
                                        <th scope="col" class="text-center">Avg Pulse</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var i = 0; i < month_wo.length; i++){ %>
                                    <tr>
                                        <td class="text-center"><%= helpers.formatDate(month_wo[i].wdate) %></td>
                                        <td class="text-center"><%= helpers.timeStr(month_wo[i].wtime) %></td>
                                        <td class="text-center"><%= month_wo[i].distance.toFixed(1) %></td>
                                        <td class="text-center"><%= helpers.getPace(month_wo[i].wtime, month_wo[i].distance) %></td>
                                        <td class="text-center"><%= month_wo[i].avgpulse %></td>
                                    </tr>
                                    <%}%>
                                    <tr>
                                        <td class="text-center"><b>Total <%= month_stat[0].totalCount %> runs</b></td>
                                        <td class="text-center"><b><%= helpers.timeStr(month_stat[0].totalTime) %></b></td>
                                        <td class="text-center"><b><%= month_stat[0].totalDistance.toFixed(1) %></b></td>
                                        <td class="text-center"><b><%= helpers.getPace(month_stat[0].totalTime, month_stat[0].totalDistance) %></b></td>
                                        <td class="text-center">...</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="tm-table-mt tm-table-actions-row">
                            <div class="tm-table-actions-col-left">
                                &nbsp;
                            </div>
                            <div class="tm-table-actions-col-right">
                                <span class="tm-pagination-label">Week: </span>
                                <nav aria-label="Page navigation" class="d-inline-block">
                                    <ul class="pagination tm-pagination">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <span class="tm-dots d-block">...</span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">13</a></li>
                                        <li class="page-item"><a class="page-link" href="#">14</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                    <div class="bg-white tm-block h-100">
                            <h2 class="tm-block-title d-inline-block">Training Load Levels</h2>
                            <canvas id="pieChart" class="chartjs-render-monitor"></canvas>
                            <table class="table table-hover table-striped mt-3">
                                <tbody>
                                    <tr>
                                        <td>Low: <%= levels[0].toFixed(1) %></td>
                                        <td>Moderate: <%= levels[1].toFixed(1) %></td>
                                    </tr>
                                    <tr>
                                        <td>High: <%= levels[2].toFixed(1) %></td>
                                        <td>Undefined: <%= levels[3].toFixed(1) %></td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>

    <%- include('layouts/footer'); -%>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const ctx = document.getElementById('pieChart').getContext('2d');
            
            new Chart(ctx, {
              type: 'pie',
              data: {
                labels: ['Low', 'Moderate', 'High', 'Undefined'], 
                datasets: [{
                  label: '# of Votes',
                  data: <%= JSON.stringify(levels) %>, 
                  backgroundColor: [
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(255, 206, 86, 0.2)",
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(255, 159, 64, 0.2)"
                  ],
                  borderColor: [
                    "rgba(75, 192, 192, 1)",
                    "rgba(255, 206, 86, 1)",
                    "rgba(255,99,132,1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(153, 102, 255, 1)",
                    "rgba(255, 159, 64, 1)"
                  ],
                  borderWidth: 1
                }],
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
        });
        </script>
</body>
</html>