<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

 <body id="reportsPage">
    <div class="" id="home">
        <div class="container">
            <%- include('layouts/menu'); -%>
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="col-xl-7 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                    <div class="bg-white tm-block h-100">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <h2 class="tm-block-title d-inline-block">Monthly Training Statistics</h2>
                            </div>
                            <div class="col-md-4 col-sm-12 text-right">
                                <h2 class="tm-block-title d-inline-block">Today: <%= helpers.formatDate(Date()) %></h2>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped tm-table-striped-even mt-3">
                                <thead>
                                    <tr class="tm-bg-gray">
                                        <th scope="col" class="text-center">Month</th>
                                        <th scope="col" class="text-center">Runs</th>
                                        <th scope="col" class="text-center">Time</th>
                                        <th scope="col" class="text-center">Dist, km</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var i = 0; i < mtotals.length; i++){ %>
                                    <tr>
                                        <td class="text-center"><%= helpers.formatMonthYear(mtotals[i].dataValues.mnum) %></td>
                                        <td class="text-center"><%= mtotals[i].dataValues.runsTotal %></td>
                                        <td class="text-center"><%= helpers.timeStr(mtotals[i].dataValues.timeTotal) %></td>
                                        <td class="text-center"><%= mtotals[i].dataValues.distTotal.toFixed(1) %></td>
                                    </tr>
                                    <%}%>
                                </tbody>
                            </table>
                        </div>

                        <div class="tm-table-mt tm-table-actions-row">
                            <div class="tm-table-actions-col-left">
                                &nbsp;
                            </div>
                            <div class="tm-table-actions-col-right">
                                <span class="tm-pagination-label">Month: </span>
                                <nav aria-label="Page navigation" class="d-inline-block">
                                    <ul class="pagination tm-pagination">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <span class="tm-dots d-block">...</span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">13</a></li>
                                        <li class="page-item"><a class="page-link" href="#">14</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title d-inline-block">Month by Month, km</h2>
                        <canvas id="myChart" ></canvas>
                    </div>
                </div>
            </div>

    <%- include('layouts/footer'); -%>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const ctx = document.getElementById('myChart').getContext('2d');
        
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: <%- JSON.stringify(labels) %>, 
            datasets: [{
              label: 'km per Month',
              data: <%= JSON.stringify(milage) %>, 
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)"
              ],
              borderColor: [
                "rgba(255,99,132,1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)"
              ],
              borderWidth: 1
            }],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
    });
    </script>
    
</body>
</html>